<div class="navbar">
    <div class="user-info">
        <img src="assets/imagens/user_photo.png" alt="User Photo" class="user-photo">
        <div class="user-details">
            <div>{{ username }}</div>
            <div>Avaliação: {{ rating }}</div>
        </div>
    </div>
    <div class="navbar-content">
        <button class="nav-button">Página 1</button>
        <button class="nav-button">Página 2</button>
        <i class="icon">🔔</i> <!-- Ícone de alertas -->
        <i class="icon">💬</i> <!-- Ícone de chat -->
    </div>
</div>




